
body {
    font-family: "Lato", sans-serif;
    color: #777;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
h1, h2, h3, h4, h5, h6 {
    color: #555;
    width: 100%;
    margin-top: 0;
    margin-bottom: .5em;
    text-rendering: optimizeSpeed;
}
.section {
    padding: 30px 0;
    position: relative;
    min-height: auto;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.responsive-img{
    width: 100%;
}

.auto{
	margin: 0 auto;
}

/*Navigation*/
nav{
	font-weight: bolder;
}
nav img{
	max-width: 250px;
}
.navbar{
	-webkit-box-shadow: none; 
    box-shadow: none; 
}


/*footer*/
footer{
    background: #5b5b5b;
    color: #fff;
    padding: 15px 0;
}




/*back to top */

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 25px;
    background: transparent;
    color: #446084;
    cursor: pointer;
    border: 2px solid #446084;
    border-radius: 50%;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    border-color: #446084;
}
#back-to-top:hover {
    color: #fff;
    background-color: #446084;
    border-color: #446084;
}
#back-to-top.show {
    opacity: 1;
}


/*main home*/
.section-title-container {
    margin-bottom: 1.5em;
}
.section-title {
    position: relative;
    -js-display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}
.section-title b {
    display: block;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 2px;
    opacity: .1;
    background-color: currentColor;
}
.section-title-center span, .section-title-bold-center span {
    text-align: center;
    font-weight: 700;
    font-size: 1.25em;
}
.section-title-center span {
    margin: 0 15px;
}
.section-title span {
    text-transform: uppercase;
}
.icon-box-img{
    width: 122px;
        max-width: 100%;
    position: relative;
        margin: 0 auto 1em;
}
.icon-box-img svg, .icon-box-img img {
    padding-top: .2em;
    width: 100%;
}
.productsmain{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(234, 234, 234);
}
.steps{
    margin-top: 40px;
}

.product h2, .product h3, .product h1 {
    padding: 0;
    font-weight: normal;
    margin-top: .2em;
    margin-bottom: .2em;
    line-height: 1;
}
.product-text h3 {
    font-size: 2em;
    font-weight: 700 !important;
}
.product-container{
    width: 80%;
    margin: 0 auto;
}
.button{
    margin: 10px 0;
}
.button button{
    border-radius: 20px;
}
.success{
    background: #7a9c59;
}
.uppercase{
    text-transform: uppercase;
}
.product-text span{
    font-size: 100%;
}


.product{
position: relative;
width: 100%;  /* desired width */
}
.product:before{
content: "";
display: block;
padding-top: 100%;  /* initial ratio of 1:1*/
}
.product-container{
position:  absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
}


.countbox{
background: #26211E;
position: relative;
width: 100%;  /* desired width */
border-radius: 15px;
}
.countbox:before{
content: "";
display: block;
padding-top: 100%;  /* initial ratio of 1:1*/
}
.countnumber{
position:  absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
}

.countnumber .number h2{
    color: #fff;
    text-align: center;
}
.countnumber .text p{
    color: #f1f1f1;
    text-align: center;
}

.product.big .product-image img{
    max-width: 250px;
}
.product.small .product-image img{
    max-width: 160px;
}
@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        background-color: #eee;
    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
}